<div id="accordeon" class="accordeon">
   <img class="ornament-img1" src="/assets/src/ornamenr.png" alt="ornamenr">
   <img class="ornament-img2" src="/assets/src/ornamenr.png" alt="ornamenr">
   <img class="ornament-img3" src="/assets/src/ornamenr.png" alt="ornamenr">
   <img class="ornament-img4" src="/assets/src/ornamenr.png" alt="ornamenr">
   <div class="container">
      <h2 class="characteristics__main-title main-title">Вопрос / ответ</h2>
      <ul class="characteristics__list">
         <li class="characteristics__item">
            <button class="characteristics__title" type="button">
               <p>Что кроме оплаты номера входит в стоимость?</p>
            </button>
            <div class="characteristics__description">
               <ul class="characteristics__list-description">
                  <li class="characteristics__item-description">
                     <ul>
                        <li>зона коворкинга</li>
                        <li>кинопроектор</li>
                        <li>настольные игры</li>
                        <li>бесплатная охраняемая парковка</li>
                        <li>зона с очагом</li>
                        <li>специально оборудованная гриль зона</li>

                        Дополнительно можно приобрести гриль набор (уголь, розжиг, дрова и аксессуары.

                     </ul>
                  </li>
               </ul>
            </div>
         </li>
         <li class="characteristics__item">
            <button class="characteristics__title" type="button">
               <p>Что взять с собой?</p>
            </button>
            <div class="characteristics__description">
               <ul class="characteristics__list-description">
                  <li class="characteristics__item-description">
                     <ul>
                        <li> одежду и обувь по погоде</li>
                        <li>флешку с фильмом для просмотра (как вариант) </li>
                        <li>продукты (часть можно приобрести на месте, уточняйте)</li>
                        <li>свою любимую подушку, если считаете нужным</li>
                     </ul>
                  </li>
               </ul>
            </div>
         </li>
         <li class="characteristics__item">
            <button class="characteristics__title" type="button">
               <p>Правила размещения</p>
            </button>
            <div class="characteristics__description">
               <ul class="characteristics__list-description">
                  <li class="characteristics__item-description">
                     <ul>
                        <li>Расчетное время: заезд (check-in) — 14:00, выезд (check-out) — до 12:00.</li>
                        <li>Ранний заезд и поздний выезд предоставляется при раннем бронировании через кемпинг или при
                           наличии свободных мест.</li>
                        <li>Дети до 6 лет проживают бесплатно без предоставления дополнительного места.</li>
                        <li>Предоставление детской кроватки — 500 рублей за все время пребывания.</li>
                        <li> Предоставление дополнительного места в барн номере и тентовом доме - 1500 рублей в сутки.
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </li>
         <li class="characteristics__item">
            <button class="characteristics__title" type="button">
               <p>Условия отмены бронирования</p>
            </button>
            <div class="characteristics__description">
               <ul class="characteristics__list-description">
                  <li class="characteristics__item-description">
                     <ul>
                        <li>В сообщении в группе сообщества или в телеграм. </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </li>
         <li class="characteristics__item">
            <button class="characteristics__title" type="button">
               <p>Правила проживания с домашними животными</p>
            </button>
            <div class="characteristics__description">
               <ul class="characteristics__list-description">
                  <li class="characteristics__item-description">
                     <ul>
                        <li>кемпинг «Юрт» рад приветствовать Вас и Ваших четвероногих друзей!</li>
                        <li>Мы с удовольствием разместим Вас комфортно, но просим ознакомиться с дополнительными
                           правилами проживания.
                           Гости с домашними животными размещаются только по предварительному бронированию при оплате
                           специального тарифа на размещение.
                           Правила проживания с домашними животными:</li>
                        <li>1) Размещение с домашними животными разрешается только при наличии регистрационного
                           удостоверения (паспорт животного с отметкой о прививках) или ветеринарных документов
                           установленного образца (справка от ветеринарного врача с отметкой обо всех прививках).</li>
                        <li>2) При бронировании домика владелец животного в обязательном порядке должен сообщить породу
                           своего питомца. Администрация оставляет за собой право определять, возможно ли проживание
                           домашнего животного в домике.</li>
                        <li>3) В глэмпинге допускается размещение только домашних животных. Собаки только мелких и
                           средних пород, ростом не более 50 сантиметров в холке и весом не более 20 килограммов. Также
                           животное должно быть воспитанным, выполнять команды хозяина и вести себя адекватно.</li>
                        <li>4) Гость обязан внести оплату за проживание животного в размере 1 500 рублей в сутки (за
                           более тщательную уборку после проживания) по 100%-ной предоплате и внести депозит 5 000
                           рублей наличными администратору (для оплаты возможного материального ущерба; возвращается
                           гостю после выезда из номера при отсутствии такового).</li>
                        <li>5) Отдыхающие владельцы домашних животных проживают вместе с животными в специально
                           определенных домиках.</li>
                        <li>Обязательства владельца домашнего животного:</li>
                        <li>1) При заселении в глэмпинг с домашними животными гость обязан ознакомиться с «Правилами
                           проживания гостей с домашними животными» и поставить на заявлении подпись, подтверждающую
                           согласие выполнять данные правила.</li>
                        <li>2) Гость должен привезти с собой контейнер (клетку), салфетки для очистки лап, непромокаемую
                           подстилку, полотенце, специальный лоток (туалет), сухой корм, любимую игрушку, аптечку с
                           лекарствами, средства для уборки продуктов жизнедеятельности домашнего животного. </li>
                        <li>3) В случае необходимости оставить животное одно на небольшое время, животное должно
                           находиться в контейнере (клетке). При отсутствии такой клетки запрещается оставлять домашних
                           животных без присмотра в домике и на территории глэмпинга.</li>
                        <li>4) При выгуливании домашнего животного на территории гость обязан иметь принадлежности для
                           уборки продуктов жизнедеятельности домашнего животного и сразу убирать их.</li>
                        <li>5) При возвращении в домик владелец обязан очистить лапы животного салфетками.</li>
                        <li>6) Кормление питомцев осуществляется только из специальной посуды, привезенной гостем.
                           Кормление домашних животных из посуды, принадлежащей глэмпингу, строго запрещено. Глэмпинг с
                           удовольствием предоставит Вашему питомцу специальную миску для воды.</li>
                        <li>7) Запрещается использовать полотенца, простыни и другие постельные принадлежности глэмпинга
                           для животного.</li>
                        <li>8) Гость, проживающий с животным, берет на себя обязательство по обеспечению соблюдения
                           санитарно-гигиенического режима в домике и на территории глэмпинга, а также обязательства по
                           соблюдению сохранности имущества и обязуется оплатить штраф в случае причинения животным
                           ущерба глэмпингу согласно установленному прейскуранту ущерба. </li>
                        <li>9) На общественной территории глэмпинга животное должно находиться только в сопровождении
                           владельца</li>
                        <li>10) В случае возникновения жалоб со стороны других гостей или при возникновении несчастных
                           случаев по вине домашнего животного, владелец животного обязан незамедлительно принять
                           соответствующие меры для устранения причин недовольства, а при необходимости увезти животное
                           с территории глэмпинга.</li>
                        <li>Глэмпинг оставляет за собой право расторгнуть соглашение с гостем, проживающим с домашними
                           животными в случае нарушения правил проживания и в случае агрессивного, неадекватного,
                           шумного поведения домашнего животного.</li>
                     </ul>

                  </li>
               </ul>
            </div>
         </li>
         <li class="characteristics__item">
            <button class="characteristics__title" type="button">
               <p>Как организованы туалеты и душ?</p>
            </button>
            <div class="characteristics__description">
               <ul class="characteristics__list-description">
                  <li class="characteristics__item-description">
                     <p>
                        Свой туалет внутри имеют барн номера, тентовый дом.
                        Стационарный туалет размещен в административном барн доме и в кафе.
                        Также туалеты находятся по периметру недалеко от домиков (в пределах 50 метров).
                        Для гостей с детьми предоставляется горшок или “садовый туалет”.
                        Душ с горячей водой расположен в административном павильоне. Организованы две отдельные душевые
                        кабины. Услуга
                        бесплатная для гостей, арендующих домик. Полотенце предоставляется.
                     </p>
                  </li>
               </ul>
            </div>
         </li>
         <li class="characteristics__item">
            <button class="characteristics__title" type="button">
               <p>Есть ли у вас комары, клещи, дикие животные?</p>
            </button>
            <div class="characteristics__description">
               <ul class="characteristics__list-description">
                  <li class="characteristics__item-description">
                     <p>
                        Места пребывания людей обработаны от клещей, комаров, но использование средств личной защиты и
                        осторожность так же
                        очень важны, поскольку зона отдыха находится в диком лесу на берегу пруда и обработка не может
                        дать 100% гарантии.
                        Для безопасности следует носить головные уборы, не упускать из зоны видимости детей и домашних
                        животных, не сходить
                        без специальной обуви с настилов и дорожек.
                        Диких животных, представляющих угрозу человеку замечено не было.
                     </p>
                  </li>
               </ul>
            </div>
         </li>
         <li class="characteristics__item">
            <button class="characteristics__title" type="button">
               <p>Как организовано питание?</p>
            </button>
            <div class="characteristics__description">
               <ul class="characteristics__list-description">
                  <li class="characteristics__item-description">
                     <p>
                        Один из способов организации питания – это кафе, расположенное в здании администрации. Гости
                        также могут приготовить еду самостоятельно, для этого у каждого из домиков предусмотрен мангал и
                        кемпинговый стол.
                        В случае необходимости, гости могут взять у администратора в аренду: котелок, костровой чайник,
                        газовую плитку, решетку, шампуры и др.
                        Ближайший магазин находится в 5 км в деревне Новая Казмаска.
                     </p>
                  </li>
               </ul>
            </div>
         </li>
      </ul>
   </div>

</div>