<div id="booking" class="booking">
   <img class="ornament-img5" src="/assets/src/ornament_2.png" alt="ornament">
   <div class="container">
      <div class="booking__title">Где мы будем жить</div>
      <div class="booking__text">На территории Юрт-а, в живописных местах построены комфортабельные и очень красивые
         домики с панорамным видом на лес и пруд, в которых есть все необходимое для расслабленного загородного отдыха
         в течение года.</div>
      <section class="booking__columns">
         <div class="columns__wrapper">
            <div class="booking__card1">
               <div class="rezervation-text-card1">
                  <p class="rezervation__title">Палатка</p>
                  <p class="rezervation__title2">1000 р.</p>
               </div>
               <div class="booking__rezerv-moreinfo">
                  <div class="btn-wrapper">
                     <div class="rezervation__booking">
                        <a data-micromodal-trigger="modal-4" href="javascript:;"
                           class="rezervation__booking-link">Забронировать</a>
                     </div>
                  </div>
                  <div class="rezervation-moreinfo">
                     <a data-micromodal-trigger="modal-1" href="javascript:;" class="rezervation-moreinfo-link">Узнать
                        больше</a>
                  </div>
               </div>
            </div>
            <div class="booking__card2">
               <div class="rezervation-text-card2">
                  <p class="rezervation__title">Шатер</p>
                  <p class="rezervation__title2">1800 р.</p>
               </div>
               <div class="booking__rezerv-moreinfo">
                  <div class="btn-wrapper">
                     <div class="rezervation__booking">
                        <a data-micromodal-trigger="modal-4" href="javascript:;"
                           class="rezervation__booking-link">Забронировать</a>
                     </div>
                  </div>
                  <div class="rezervation-moreinfo">
                     <a data-micromodal-trigger="modal-2" href="javascript:;" class="rezervation-moreinfo-link">Узнать
                        больше</a>
                  </div>
               </div>
            </div>
            <div class="booking__card3">
               <div class="rezervation-text-card3">
                  <p class="rezervation__title">Номер</p>
                  <p class="rezervation__title2">2200 р.</p>
               </div>
               <div class="booking__rezerv-moreinfo">
                  <div class="btn-wrapper">
                     <div class="rezervation__booking">
                        <a data-micromodal-trigger="modal-4" href="javascript:;"
                           class="rezervation__booking-link">Забронировать</a>
                     </div>
                  </div>
                  <div class="rezervation-moreinfo">
                     <a data-micromodal-trigger="modal-3" href="javascript:;" class="rezervation-moreinfo-link">Узнать
                        больше</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="booking__bottomtext1">На территории также можно забронировать Место под свою палатку. </div>
      <div class="booking__bottomtext2">Стоимость - 500 р.</div>
   </div>
</div>