<div id="camping" class="camping">
   <img class="ornament-img1" src="/assets/src/ornament_1.png" alt="ornament">
   <img class="ornament-img2" src="/assets/src/ornament_1.png" alt="ornament">
   <img class="ornament-img3" src="/assets/src/ornament_1.png" alt="ornament">
   <img class="ornament-img4" src="/assets/src/ornament_2.png" alt="ornament">
   <div class="container">
      <div class="camping__title">О кемпинге</div>
      <div class="camping__text">Всего 30 минут от Ижевска и вы уже оказываетесь на лодках с друзьями, либо проводите
         время в сборе грибов в окружении высоченных сосен или устраиваете уютный вечер с барбекю и настольными играми
         со своей семьёй под берёзами, а восход Солнца встречаете на своей террасе свежесваренным травяным чаем
         с цветочным мёдом.</div>
      <div class="slider__bl">
         <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
               <img src="/assets/src/1.png" alt="">
               <div class="swiper-button-prev"></div>
               <div class="swiper-button-next"></div>
            </div>
            <div class="swiper-slide">
               <img src="/assets/src/2.png" alt="">
               <div class="swiper-button-prev"></div>
               <div class="swiper-button-next"></div>
            </div>
            <div class="swiper-slide">
               <img src="/assets/src/3.png" alt="">
               <div class="swiper-button-prev"></div>
               <div class="swiper-button-next"></div>
            </div>
            <div class="swiper-slide">
               <img src="/assets/src/4.png" alt="">
               <div class="swiper-button-prev"></div>
               <div class="swiper-button-next"></div>
            </div>
            <div class="swiper-slide">
               <img src="/assets/src/5.png" alt="">
               <div class="swiper-button-prev"></div>
               <div class="swiper-button-next"></div>
            </div>
            <div class="swiper-slide">
               <img src="/assets/src/6.png" alt="">
               <div class="swiper-button-prev"></div>
               <div class="swiper-button-next"></div>
            </div>
         </div>
         <!-- If we need pagination -->
         <div class="swiper-pagination"></div>
         <!-- If we need navigation buttons -->
      </div>
   </div>
</div>