<footer class="footer">
    <div class="footer-container">
      <div class="footer-nav">
        <div class="footer-logo">
          <a href=""><img src="./assets/src/logo.svg" alt="logo" class="logo"></a>
        </div>
        <div class="footer-links">
          <ul class="nav-list">
            <a href="#">
              <li class="nav-item">О нас</li>
            </a>
            <a href="#">
              <li class="nav-item">Бронирование</li>
            </a>
            <a href="#">
              <li class="nav-item">Чем заняться</li>
            </a>
            <a href="#">
              <li class="nav-item">Вопрос/Ответ</li>
            </a>
            <a href="#">
              <li class="nav-item">Контакты</li>
            </a>
          </ul>          
        </div>
        <div class="footer-social">
          <a href="https://t.me/+GGdHsTigP2djNDhi" target="_blank"><img src="/assets/src/telegram.svg" alt="telegram"></a>
          <a href="https://vk.com/camp_yurt" target="_blank"><img src="/assets/src/vk.svg" alt="vkontakte"></a>
        </div>
      </div>
      <div class="footer-docs">
        <a href="#">Договор оферты</a>
        <a href="https://docs.google.com/document/d/1dXqAVKEy4CBhTCUzUQAsMmPQyvAnsXHtgTXbAb_9jfY/edit" target="_blank">Политика конфиденциальности</a>
      </div>
    </div>
  </footer>