<header class="header">
   <div class="container">
      <div class="header__wrapper">
         <div class="header__logo">
            <a href="/" class="header__logo-link">
               <img src="./assets/src/logo.svg" alt="logo" class="header__logo" />
            </a>
         </div>
         <ul class="header__list">
            <li class="header__item">
               <a href="#" class="header__link">О нас</a>
            </li>
            <li class="header__item">
               <a href="#" class="header__link">Бронирование</a>
            </li>
            <li class="header__item">
               <a href="#" class="header__link">Чем заняться</a>
            </li>
            <li class="header__item">
               <a href="#" class="header__link">Вопрос/ответ</a>
            </li>
            <li class="header__item">
               <a href="#" class="header__link">Контакты</a>
            </li>
         </ul>
         <div class="header__contact">
            <a href="tel: 79199149511" class="header__contact-link">
               <span class="header__contact-number">+7-909-066-09-06</span>
            </a>
         </div>
         <div class="header__booking">
            <a href="" class="header__booking-link">Забронировать</a>
         </div>
      </div>
   </div>
</header>