<header class="header">
   <div class="container">
      <div class="header__wrapper">
         <a href="/" class="header__logo-link">
            <img src="./assets/src/logo.svg" alt="logo" class="header__logo" />
         </a>
         <div class="menu__body">
            <ul class="header__list">
               <li class="header__item">
                  <a href="#camping" class="header__link">О нас</a>
               </li>
               <li class="header__item">
                  <a href="#booking" class="header__link">Бронирование</a>
               </li>
               <li class="header__item">
                  <a href="#slider" class="header__link">Чем заняться</a>
               </li>
               <li class="header__item">
                  <a href="#accordeon" class="header__link">Вопрос/ответ</a>
               </li>
               <li class="header__item">
                  <a href="#map" class="header__link">Контакты</a>
               </li>
            </ul>
            <div class="header__contact">
               <a href="tel: 79199149511" class="header__contact-link">
                  +7-909-066-09-06
               </a>
            </div>
            <div class="header__booking">
               <a data-micromodal-trigger="modal-4" href="javascript:;" class="header__booking-link">Забронировать</a>
            </div>
         </div>
         <div class="menu__icon">
            <span></span>
         </div>
      </div>
   </div>
</header>