<div class="main">
   <div class="main__bg"></div>
   <div class="container">
      <div class="main__title">Юрт. Дом</div>
      <div class="main__text-1">
         <p>Место счастливых людей.</p>
         <p>Место вдохновения и внутреннего наполнения.</p>
         <p>Место, где чтят семейные ценности и традиции.</p>
         <p>Это отдых в единении с природой.</p>
      </div>
      <div class="main__text-2">Если вам хочется отдохнуть и восстановиться, то здесь вы найдете всё необходимое
         для
         расслабленного отдыха в течении всего года.</div>
      <div class="main__icon">
         <a href="" class="main__icon-link">
            <img src="./assets/src/mainicon.png" alt="" class="main__icon">
         </a>
      </div>
   </div>
</div>