 <section class="map" id="map">
    <iframe    
      src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae0bb988fdc0b44f46bbecb6082d3f0e3701e456a06cf43946971fe6058d94ddb&amp;source=constructor"
      scroll=false width="100%" height="400" frameborder="0" >
    </iframe>
    <div class="contacts-wrap">
      <div class="contacts">
        <h2>
          Контакты
        </h2>
        <div class="phone">
          <p>Телефон:</p>
          <a href="tel:+79090660906">89090660906</a>
        </div>
        <div class="adress">
          <p>Адрес:</p>
          <p>УР, Завьяловский район, д. Беты</p>
        </div>        
      </div>
    </div>
  </section>