<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
   <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
         <header class="modal__header">
            <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
         </header>
         <main class="modal__content" id="modal-1-content">
            <div class="modal__toptext">
               <p class="modal__toptext-title"><span class="modal__toptext-title-firstword">Палатка&nbsp;</span>на
                  деревянной платформе</p>
               <p class="modal__toptext-title2">1000 р.</p>
            </div>
            <div class="modal__columns">
               <div class="modal__columns-img">
                  <img src="./assets/src/popuppic1.png" alt="">
               </div>
               <div class="modal__columns-text">
                  <ul class="modal__columns-list">
                     <li class="modal__columns-list-item">Большой и комфортный экошатер в окружении соснового леса.</li>
                     <li class="modal__columns-list-item">Внутри двуспальная кровать с постельным бельем
                        (трансформируется в односпальные), так же,
                        по желанию гостей, может быть добавлено одно дополнительное спальное место.</li>
                     <li class="modal__columns-list-item">Для вентиляции предусмотрены специальные окна, на двери
                        имеется москитная сетка. Для защиты
                        от комаров так же установлены фумигаторы.</li>
                     <li class="modal__columns-list-item">У каждой палатки есть своя мангальная зона со столиком
                        и мангалом для приготовления еды
                        на улице.</li>
                     <li class="modal__columns-list-item">Туалет располагаются в непосредственной близости от шатра
                        на улице.</li>
                  </ul>
               </div>
            </div>
            <div class="modal__btn-wrapper">
               <div class="modal__booking">
                  <a href="" class="modal__booking-link">Забронировать</a>
               </div>
            </div>
         </main>
      </div>
   </div>
</div>

<div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
   <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
         <header class="modal__header">
            <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
         </header>
         <main class="modal__content" id="modal-1-content">
            <div class="modal__toptext">
               <p class="modal__toptext-title"><span class="modal__toptext-title-firstword">Шатер&nbsp;</span>тентовый
               </p>
               <p class="modal__toptext-title2">1800 р.</p>
            </div>
            <div class="modal__columns">
               <div class="modal__columns-img">
                  <img src="./assets/src/popuppic2.png" alt="">
               </div>
               <div class="modal__columns-text">
                  <ul class="modal__columns-list">
                     <li class="modal__columns-list-item">Просторный тентовый дом. </li>
                     <li class="modal__columns-list-item">Внутри двуспальная кровать. Есть номера с раздельными
                        односпальными кроватями (уточняйте при бронировании).</li>
                     <li class="modal__columns-list-item">В доме есть: мини бар, чайник и угощения, сейф, туалет и душ
                        в каждом номере, собственная терраса с мангалом и лежаками.</li>
                     <li class="modal__columns-list-item">Для вентиляции служат специальные окна с москитной сеткой.
                     </li>
                  </ul>
               </div>
            </div>
            <div class="modal__btn-wrapper">
               <div class="modal__booking">
                  <a href="" class="modal__booking-link">Забронировать</a>
               </div>
            </div>
         </main>
      </div>
   </div>
</div>

<div class="modal micromodal-slide" id="modal-3" aria-hidden="true">
   <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
         <header class="modal__header">
            <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
         </header>
         <main class="modal__content" id="modal-1-content">
            <div class="modal__toptext">
               <p class="modal__toptext-title"><span class="modal__toptext-title-firstword">Номер&nbsp;</span>в Барн
                  доме</p>
               <p class="modal__toptext-title2">2200 р.</p>
            </div>
            <div class="modal__columns">
               <div class="modal__columns-img">
                  <img src="./assets/src/popuppic3.png" alt="">
               </div>
               <div class="modal__columns-text">
                  <ul class="modal__columns-list">
                     <li class="modal__columns-list-item">Круглогодичный вариант для проживания.</li>
                     <li class="modal__columns-list-item">Подключена сплит система кондиционирования.</li>
                     <li class="modal__columns-list-item">В комнате есть просторные кровати, шкаф, рабочее пространство
                        и кухня с необходимой техникой. </li>
                     <li class="modal__columns-list-item">Санузел в каждом номере.</li>
                     <li class="modal__columns-list-item">Перед зданием большая общая терраса.</li>
                  </ul>
               </div>
            </div>
            <div class="modal__btn-wrapper">
               <div class="modal__booking">
                  <a href="" class="modal__booking-link">Забронировать</a>
               </div>
            </div>
         </main>
      </div>
   </div>
</div>