<section id="slider" class="slider">
   <h2>Чем заняться</h2>
   <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
         <!-- Slides -->
         <div class="swiper-slide">
            <img src="/assets/src/slide.jpg" alt="">
            <p>Вся территория освещена вечером романтичными фонариками и украшена флажками</p>
         </div>
         <div class="swiper-slide">
            <img src="/assets/src/slide1.jpg" alt="">
            <p>С помощью глины любой человек проявляет фантазию и оригинальность, а сам процесс затягивает и вводит
               в состояние медитации, привнося спокойствие и гармонию</p>
         </div>
         <div class="swiper-slide">
            <img src="/assets/src/slide3.jpg" alt="">
            <p>На территории кемпинга мы обустроили комфортную общую зону барбекю, где каждый желающий может приготовить
               себе ароматную еду на углях</p>
         </div>
         <div class="swiper-slide">
            <img src="/assets/src/slide4.jpg" alt="">
            <p>На сосновой опушке организован веревочный парк, а через пруд протянуты надёжные канатные тросы для
               активного отдыха</p>
         </div>
         <div class="swiper-slide">
            <img src="/assets/src/slide5.jpg" alt="">
            <p>Баня издревле считалась сакральным местом , где одновременно господствуют четыре стихии и происходит
               очищение человека не только физическое, но и духовное</p>
         </div>
         <div class="swiper-slide">
            <img src="/assets/src/slide6.jpg" alt="">
            <p>Согревает всех своим теплом Очаг на Месте Силы под величественной сосной, где мы собираемся для пения под
               гитару, командных игр и тренингов</p>
         </div>
         <div class="swiper-slide">
            <img src="/assets/src/slide7.jpg" alt="">
            <p>Каждую субботу мы дружно рассаживаемся на поляне и смотрим фильмы на огромном экране </p>
         </div>
         <div class="swiper-slide">
            <img src="/assets/src/slide8.jpg" alt="">
            <p>В 5 минутах от Юрт-а есть магазин , а еще продукты от местных жителей можно заказать заранее при
               бронировании</p>
         </div>
         <div class="swiper-slide">
            <img src="/assets/src/slide9.jpg" alt="">
            <p> И конечно, в каждом домике есть кухня, так что можно привезти с собой любые продукты и готовить свои
               любимые блюда прямо на месте</p>
         </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
   </div>
</section>