:root {
	--color-main: #133131;
}

body {
   font-family: 'Conv_Montserrat-Light';
   font-style: normal;
}

body._lock {
   overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
}