.camping {
   width: 100%;
}

.camping__title {
   font-family: 'Conv_Montserrat-SemiBold';
   font-weight: 600;
   font-size: 40px;
   line-height: 49px;
   display: flex;
   align-items: center;
   color: #133131;
   margin: 0px 0px 50px 0px;
}
.camping__text {
   font-family: 'Conv_Montserrat-Light';
   font-weight: 300;
   font-size: 20px;
   line-height: 24px;
   color: #000000;
   margin: 0px 0px 50px 0px;
   max-width: 650px;
   text-align: left;
}

#slider_bl .wrapper {
	max-width: 1170px;
	margin: 1em auto;
	position: relative;
}

#slider_bl input {
	display: none;
}

#slider_bl .inner {
	width: 625%;
	line-height: 0;
}

#slider_bl article {
	width: 16%;
	float: left;
	position: relative;
}

#slider_bl article img {
	width: 100%;
}

#slider_bl .slider-prev-next-control {
	height: 50px;
	position: absolute;
	top: 50%;
	width: 100%;
   padding: 0px 0px 0px 0px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#slider_bl .slider-prev-next-control label {
	display: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #FFCC86;
}

#slider_bl .slider-prev-next-control label:hover {
	/*opacity: 1;*/
   background: rgba(255, 204, 134, 0.5);
}


#slider_bl .slider-dot-control {
   position: absolute;
	width: 100%;
	/*bottom: 0;*/
	text-align: center;
   margin: 50px 0px 0px 0px;
}

#slider_bl .slider-dot-control label {
	cursor: pointer;
	border-radius: 10px;
	display: inline-block;
   margin: 0px 20px 150px 0px;
	width: 11px;
	height: 11px;
	background: #FFFFFF;
   border: 2px solid #133131; 
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

#slider_bl .slider-dot-control label:hover {
	background: #FFFFFF;
	border: 2px solid #FFCC86;
}


#slider_bl .slider-wrapper {
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	background: #fff;
	background: #fcfff4;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

#slider_bl .slider-wrapper .inner {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: all .8s cubic-bezier(.77, 0, .175, 1);
	-moz-transition: all .8s cubic-bezier(.77, 0, .175, 1);
	transition: all .8s cubic-bezier(.77, 0, .175, 1);
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(7)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(6)::after,
#slider_bl #slide6:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide6:checked~.slider-prev-next-control label:nth-child(7)::after,
#slider_bl #slide7:checked~.slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide7:checked~.slider-prev-next-control label:nth-child(6)::after {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: 400;
	text-decoration: inherit;
	margin: 0;
	line-height: 38px;
	font-size: 3em;
	display: block;
	color: #777;
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(6)::after,
#slider_bl #slide6:checked~.slider-prev-next-control label:nth-child(7)::after,
#slider_bl #slide7:checked~.slider-prev-next-control label:nth-child(1)::after {
	content: "\f105";
	padding-left: 16px;
   color:#133131;
   font-size: 30px;
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2),
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3),
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4),
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5),
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(6),
#slider_bl #slide6:checked~.slider-prev-next-control label:nth-child(7),
#slider_bl #slide7:checked~.slider-prev-next-control label:nth-child(1) {
	display: block;
	float: right;
	margin-right: 30px;
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(7),
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1),
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2),
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3),
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4),
#slider_bl #slide6:checked~.slider-prev-next-control label:nth-child(5),
#slider_bl #slide7:checked~.slider-prev-next-control label:nth-child(6) {
	display: block;
	float: left;
	margin-left: 30px;
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(7)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after,
#slider_bl #slide6:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide7:checked~.slider-prev-next-control label:nth-child(6)::after {
	content: "\f104";
   color:#133131;
	padding-left: 12px;
   font-size: 30px;
}

#slider_bl #slide1:checked~.slider-dot-control label:nth-child(1),
#slider_bl #slide2:checked~.slider-dot-control label:nth-child(2),
#slider_bl #slide3:checked~.slider-dot-control label:nth-child(3),
#slider_bl #slide4:checked~.slider-dot-control label:nth-child(4),
#slider_bl #slide5:checked~.slider-dot-control label:nth-child(5),
#slider_bl #slide6:checked~.slider-dot-control label:nth-child(6),
#slider_bl #slide7:checked~.slider-dot-control label:nth-child(7) {
	background: #FFCC86;
   border: none;
   width: 15px;
	height: 15px;
}

#slider_bl #slide1:checked~.slider-wrapper article:nth-child(1),
#slider_bl #slide2:checked~.slider-wrapper article:nth-child(2),
#slider_bl #slide3:checked~.slider-wrapper article:nth-child(3),
#slider_bl #slide4:checked~.slider-wrapper article:nth-child(4),
#slider_bl #slide5:checked~.slider-wrapper article:nth-child(5),
#slider_bl #slide6:checked~.slider-wrapper article:nth-child(6),
#slider_bl #slide7:checked~.slider-wrapper article:nth-child(7) {
	opacity: 1;
}

#slider_bl #slide1:checked~.slider-wrapper .inner {
	margin-left: 0;
}

#slider_bl #slide2:checked~.slider-wrapper .inner {
	margin-left: -100%;
}

#slider_bl #slide3:checked~.slider-wrapper .inner {
	margin-left: -200%;
}

#slider_bl #slide4:checked~.slider-wrapper .inner {
	margin-left: -300%;
}

#slider_bl #slide5:checked~.slider-wrapper .inner {
	margin-left: -400%;
}

#slider_bl #slide6:checked~.slider-wrapper .inner {
	margin-left: -500%;
}

#slider_bl #slide7:checked~.slider-wrapper .inner {
	margin-left: -600%;
}

@media only screen and (max-width:850px) and (min-width:450px) {
	#slider_bl .slider-wrapper {
		border-radius: 0;
	}
}

@media only screen and (max-width:450px) {
	#slider_bl .slider-wrapper {
		border-radius: 0;
	}

	#slider_bl .slider-wrapper {
		opacity: 0;
	}
}

@media only screen and (min-width:850px) {
	#slider_bl body {
		padding: 0 80px;
	}
}