.camping {
   position: relative;
   width: 100%;
   margin: 0px 0px 215px 0px;
}

.ornament-img1 {
   position: absolute;
   width: 300px;
   height: 223px;
   top: -15%;
   right: 1%;
   z-index: -1;
}
.ornament-img2 {
   position: absolute;  
   width: 222px;
   height: 166px;
   top: 20%;
   right: 10%;
   z-index: -1;
}
.ornament-img3 {
   position: absolute;
   width: 222px;
   height: 166px;
   left: 3.5%;
   top: 88%;
   z-index: -1;
}
.ornament-img4 {
   position: absolute;
   width: 292px;
   height: 164px;
   bottom: -35%;
   right: 9%;
   z-index: -1;
}

@media screen and (max-width:879px) {
   .ornament-img1 {
      display: none;
   }
   .ornament-img2 {
      display: none;
   }
   .ornament-img3 {
      display: none;
   } 
   .ornament-img4 {
      display: none;
   }
}

@media screen and (max-width:768px) {
   .camping {
      margin: 0px 0px 130px 0px;
   }
}

@media screen and (max-width:400px) {
   .camping {
      margin: 0px 0px 100px 0px;
   }
}

.camping__title {
   font-family: 'Montserrat-SemiBold';
   font-weight: 600;
   font-size: 40px;
   line-height: 49px;
   display: flex;
   align-items: center;
   color: #133131;
   margin: 0px 0px 50px 0px;
}

@media screen and (max-width:768px) {
   .camping__title {
      margin: 0px 0px 30px 0px;
   }
}

@media screen and (max-width:400px) {
   .camping__title {
      font-size: 20px;
      line-height: 24px;
      margin: 0px 0px 20px 0px;
   }
}

.camping__text {
   font-family: 'Montserrat-Light';
   font-weight: 300;
   font-size: 20px;
   line-height: 24px;
   color: #000000;
   margin: 0px 0px 50px 0px;
   max-width: 650px;
   text-align: left;
}

@media screen and (max-width:768px) {
   .camping__text {
      margin: 0px 0px 25px 0px;
   }
}

@media screen and (max-width:400px) {
   .camping__text {
      font-size: 16px;
      line-height: 20px;
      margin: 0px 0px 20px 0px;
   }
}

.swiper-wrapper {
   position: relative;
}

.swiper-slide {
  margin-bottom: 50px;
}

@media screen and (max-width:768px) {
   .swiper-slide {
      margin-bottom: 30px;
    }
    .swiper-button-prev:after {
      display: none;
    }
    .swiper-button-next:after {
      display: none;
    }
}

@media screen and (max-width:400px) {
   .swiper-slide {
      margin-bottom: 20px;
    }
}


.slider__bl {
  overflow: hidden;
}

.camping .swiper-button-next {
  right: 4%;
  top: 50%;
}

.camping .swiper-button-prev {
  left: 4%;
  top: 50%;
}

.camping .swiper-slide::before {
  background-color: transparent;
}


.swiper-button-next:hover {
   opacity: 0.5;
 }
 .swiper-button-prev:hover {
   opacity: 0.5;
 }
 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   user-select: none;
 }
 
 .swiper-pagination {
   position: relative;
 }
 .swiper-pagination-bullet {
   width: 15px;
   height: 15px;
   line-height: 20px;
   font-size: 14px;
   background-color: #fff;
   border: 2px solid #000;
   opacity: 1;
 }
 .swiper-pagination-bullet-active {
   background-color: #FFCC86 !important;
   border: none !important;
 }

 .swiper-pagination-bullet:hover {
   border: 2px solid #FFCC86;
 }
 
 .swiper-slide img{
   position: relative;
 }
 .swiper-slide img::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(19, 49, 49, 0.8);  
   z-index: 1;
 }
 
 .swiper-button-prev:after {
    content: url(/assets/src/leftarrow.svg);
 }
 
 .swiper-button-next:after {
    content: url(/assets/src/rightarrow.svg);
 }